{
  "openapi": "3.0.3",
  "info": {
    "title": "OneSheet API",
    "description": "Resume builder API for developers. Create, update, and export one-page resumes programmatically.",
    "version": "1.0.0",
    "contact": {
      "url": "https://onesheet.cv/docs"
    }
  },
  "servers": [
    {
      "url": "https://onesheet.cv",
      "description": "Production"
    }
  ],
  "security": [
    { "ApiKeyAuth": [] }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health check",
        "operationId": "healthCheck",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/resumes": {
      "get": {
        "summary": "List resumes",
        "operationId": "listResumes",
        "tags": ["Resumes"],
        "responses": {
          "200": {
            "description": "List of resumes (without markdown content)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resumes": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ResumeSummary" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a resume",
        "operationId": "createResume",
        "tags": ["Resumes"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": {
                  "title": { "type": "string", "description": "Resume title" },
                  "templateId": { "type": "string", "enum": ["classic", "modern", "minimal", "technical", "compact"], "default": "classic" },
                  "markdown": { "type": "string", "description": "Resume content in Markdown", "default": "" },
                  "paperSize": { "type": "string", "enum": ["us-letter", "a4"], "default": "us-letter" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resume created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resumeId": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "409": {
            "description": "Resume limit reached (Free: 1, Pro: 3)"
          }
        }
      }
    },
    "/api/agent/resumes/{resumeId}": {
      "get": {
        "summary": "Get resume with content",
        "operationId": "getResume",
        "tags": ["Resumes"],
        "parameters": [
          { "$ref": "#/components/parameters/resumeId" }
        ],
        "responses": {
          "200": {
            "description": "Full resume including markdown",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResumeFull" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "summary": "Update a resume",
        "operationId": "updateResume",
        "tags": ["Resumes"],
        "parameters": [
          { "$ref": "#/components/parameters/resumeId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "markdown": { "type": "string" },
                  "templateId": { "type": "string", "enum": ["classic", "modern", "minimal", "technical", "compact"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resume updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "summary": "Delete a resume",
        "operationId": "deleteResume",
        "tags": ["Resumes"],
        "parameters": [
          { "$ref": "#/components/parameters/resumeId" }
        ],
        "responses": {
          "200": {
            "description": "Resume deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "newDefaultId": { "type": "string", "description": "New default resume ID if the deleted one was default" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Cannot delete the user's only resume"
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/agent/resumes/{resumeId}/set-default": {
      "post": {
        "summary": "Set resume as default",
        "operationId": "setDefaultResume",
        "tags": ["Resumes"],
        "parameters": [
          { "$ref": "#/components/parameters/resumeId" }
        ],
        "responses": {
          "200": {
            "description": "Default set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/resumes/{resumeId}/export": {
      "post": {
        "summary": "Export resume as PDF",
        "operationId": "exportPdf",
        "tags": ["Export"],
        "description": "Generates and returns a one-page PDF. Requires Pro subscription.",
        "parameters": [
          { "$ref": "#/components/parameters/resumeId" }
        ],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "402": {
            "description": "Pro subscription required"
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/agent/templates": {
      "get": {
        "summary": "List available templates",
        "operationId": "listTemplates",
        "tags": ["Templates"],
        "responses": {
          "200": {
            "description": "Template list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "templates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/analytics": {
      "get": {
        "summary": "Get resume analytics",
        "operationId": "getAnalytics",
        "tags": ["Analytics"],
        "responses": {
          "200": {
            "description": "Analytics for all resumes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "analytics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resumeId": { "type": "string" },
                          "profileViews": { "type": "integer" },
                          "pdfDownloads": { "type": "integer" },
                          "lastViewedAt": { "type": "string", "format": "date-time", "nullable": true }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/keys/generate": {
      "post": {
        "summary": "Generate a new API key",
        "operationId": "generateApiKey",
        "tags": ["API Keys"],
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string", "description": "Display name for the key" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created. The full key is only shown once.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keyId": { "type": "string" },
                    "key": { "type": "string", "example": "os_sk_live_a1b2c3d4e5f6..." },
                    "prefix": { "type": "string" },
                    "name": { "type": "string" },
                    "createdAt": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Maximum 3 active keys reached"
          }
        }
      }
    },
    "/api/agent/keys": {
      "get": {
        "summary": "List API keys",
        "operationId": "listApiKeys",
        "tags": ["API Keys"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of API keys (plaintext keys not included)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyId": { "type": "string" },
                          "name": { "type": "string" },
                          "prefix": { "type": "string" },
                          "createdAt": { "type": "string", "format": "date-time" },
                          "lastUsedAt": { "type": "string", "format": "date-time", "nullable": true },
                          "isActive": { "type": "boolean" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/keys/{keyId}": {
      "delete": {
        "summary": "Delete an API key",
        "operationId": "deleteApiKey",
        "tags": ["API Keys"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/keys/{keyId}/revoke": {
      "post": {
        "summary": "Revoke an API key",
        "operationId": "revokeApiKey",
        "tags": ["API Keys"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "API key from Settings > API Access. Requires Pro subscription."
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Firebase ID token for browser-based integrations."
      }
    },
    "parameters": {
      "resumeId": {
        "name": "resumeId",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Resume ID"
      }
    },
    "schemas": {
      "ResumeSummary": {
        "type": "object",
        "properties": {
          "resumeId": { "type": "string" },
          "title": { "type": "string" },
          "templateId": { "type": "string" },
          "paperSize": { "type": "string", "enum": ["us-letter", "a4"] },
          "isDefault": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "ResumeFull": {
        "type": "object",
        "properties": {
          "resumeId": { "type": "string" },
          "title": { "type": "string" },
          "markdown": { "type": "string" },
          "templateId": { "type": "string" },
          "paperSize": { "type": "string", "enum": ["us-letter", "a4"] },
          "isDefault": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  }
}
